* {
    box-sizing: border-box;
}

body {
    background: grey;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrap {
    width: 1000px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.header h3 {
    display: inline-block;
	text-align: center;
}


.flex {
    display: flex;
    gap: 10px;

 }
.content{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.col {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

div{
text-align: center;
}


input[type=number]{
    width:30px;
 }

 input[type=text]{
    width:100px;
 }